<div class="isotope_item isotope_item_classic isotope_item_classic_2 isotope_column_2      isotope_item_show" style="float:<%=cycle('left','right')%>;<%=cycle('left','right')%>: 0px;">
			<article class="post_item post_item_classic post_item_classic_2				  post_format_standard odd">
				
								<div class="post_content isotope_item_content">
					<div class="post_info">
			<span class="post_info_item post_info_posted">Commencé <a href="/advert/violons-de-tres-bon-luthier/" class="post_info_date">il y a 5&nbsp;jours</a></span>
		</div>							<h3 class="post_title"><a href="/advert/violons-de-tres-bon-luthier/">violons de tres bon luthier</a></h3>
							
					<div class="post_descr">
						<p>bonjour j’achète des violons de très bons luthiers</p>					</div>

				</div>				<!-- /.post_content -->
			</article>	<!-- /.post_item -->
		</div>
