<form action="" method="post" class="adverts-form adverts-form-aligned">
    <fieldset>
        
                <input type="hidden" name="_post_id" id="_post_id"  />                <input type="hidden" name="_adverts_action" id="_adverts_action" value="preview"  />                <input type="hidden" name="_wpadverts_checksum" id="_wpadverts_checksum" value="311e8cb2b9d22583d01267e5766d25b8"  />                <input type="hidden" name="_wpadverts_checksum_nonce" id="_wpadverts_checksum_nonce" value="a3268ab0da"  />                <input type="hidden" name="_post_id_nonce" id="_post_id_nonce"  />                <input type="hidden" name="_timetrap_field" id="_timetrap_field" value="RUFJVDVkS3lrUlFEMG9Ob2F0NWpjUT09"  />                
                
        <div class="adverts-control-group adverts-field-header adverts-field-name-_contact_information ">
            
                        <div class="adverts-field-header">
                <span class="adverts-field-header-title">Information de contact</span>
                            </div>
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-account adverts-field-name-_adverts_account ">
            
                        
            <label for="_adverts_account">
                Compte                            </label>
            
            <div>Vous êtes en train de naviguer en tant que <strong>violon</strong>. <br/>Si vous voulez utiliser un autre compte, s'il vous plaît <a href="/wp-login.php?action=logout&amp;_wpnonce=0f813d7fa6">déconnectez vous</a>.</div>
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-text adverts-field-name-adverts_person ">
            
                        
            <label for="adverts_person">
                Personne de contact                                <span class="adverts-form-required">*</span>
                            </label>
            
            <input type="text" name="adverts_person" id="adverts_person" value="violon"  />
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-text adverts-field-name-adverts_email ">
            
                        
            <label for="adverts_email">
                E mail                                <span class="adverts-form-required">*</span>
                            </label>
            
            <input type="text" name="adverts_email" id="adverts_email" value="soeurmarie1@gmail.com"  />
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-text adverts-field-name-adverts_phone ">
            
                        
            <label for="adverts_phone">
                N° de téléphone                            </label>
            
            <input type="text" name="adverts_phone" id="adverts_phone"  />
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-header adverts-field-name-_item_information ">
            
                        <div class="adverts-field-header">
                <span class="adverts-field-header-title">Texte d&#039;information</span>
                            </div>
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-text adverts-field-name-post_title ">
            
                        
            <label for="post_title">
                Titre                                <span class="adverts-form-required">*</span>
                            </label>
            
            <input type="text" name="post_title" id="post_title"  />
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-select adverts-field-name-advert_category ">
            
                        
            <label for="advert_category">
                Catégorie                            </label>
            
            <select id="advert_category" name="advert_category[]" class=" adverts-multiselect adverts-max-choices[10]" multiple="multiple" ><option value="60" >Achat</option><option value="59" >Troc</option><option value="58" >Vente</option></select>
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-gallery adverts-field-name-gallery ">
            
                        
            <label for="gallery">
                Galerie                            </label>
            
            


    <div id="adverts-plupload-upload-ui-gallery" class="adverts-plupload-upload-ui adverts-browser-frontend">
        <div id="adverts-drag-drop-area-gallery"class="adverts-drag-drop-area">
        
        </div>
        <div class="adverts-gallery">
            <p>Déposer les fichiers ici pour les ajouter</p>
            <p><a href="#" id="adverts-plupload-browse-button-gallery" class="adverts-plupload-browse-button adverts-button">Ajouter des images…</a></p>
        </div>
        <div class="adverts-gallery-uploads">

        </div>

    </div>
    
            
        
    
    <script type="text/javascript">
    if(typeof ADVERTS_PLUPLOAD_DATA === "undefined") {
        var ADVERTS_PLUPLOAD_DATA = [];
    }
    ADVERTS_PLUPLOAD_DATA.push({"init":{"runtimes":"html5,silverlight,flash,html4","browse_button":"adverts-plupload-browse-button-gallery","container":"adverts-plupload-upload-ui-gallery","drop_element":"adverts-drag-drop-area-gallery","file_data_name":"async-upload","multiple_queues":true,"max_file_size":"0","url":"https:\/\/cmdt-guyane.fr\/wp-admin\/admin-ajax.php","flash_swf_url":"https:\/\/cmdt-guyane.fr\/wp-includes\/js\/plupload\/plupload.flash.swf","silverlight_xap_url":"https:\/\/cmdt-guyane.fr\/wp-includes\/js\/plupload\/plupload.silverlight.xap","filters":[{"title":"Fichiers autoris\u00e9s","extensions":"*"}],"multipart":true,"urlstream_upload":true,"multipart_params":{"_wpadverts_checksum_nonce":"a3268ab0da","_wpadverts_checksum":"311e8cb2b9d22583d01267e5766d25b8","action":"adverts_gallery_upload","form":"advert","field_name":"gallery"}},"data":[],"conf":{"button_class":"adverts-button","input_post_id":"#_post_id","input_post_id_nonce":"#_post_id_nonce","_wpadverts_checksum_nonce":"a3268ab0da","_wpadverts_checksum":"311e8cb2b9d22583d01267e5766d25b8","_post_id":null,"_post_id_nonce":null,"field_name":"gallery","form_name":"advert","save":{"method":"media-library","supports":["featured"]},"uniqid":null},"sizes":{"adverts_gallery":{"enabled":1,"width":650,"height":300,"crop":false},"adverts_list":{"enabled":1,"width":310,"height":190,"crop":true},"adverts_upload_thumbnail":{"enabled":1,"width":150,"height":105,"crop":true}}});
    
    if(typeof ADVERTS_IMAGE_SIZES === "undefined") {
        var ADVERTS_IMAGE_SIZES = {"adverts_gallery":{"enabled":1,"width":650,"height":300,"crop":false},"adverts_list":{"enabled":1,"width":310,"height":190,"crop":true},"adverts_upload_thumbnail":{"enabled":1,"width":150,"height":105,"crop":true}};
    }
    </script>
    
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-textarea adverts-field-name-post_content ">
            
                        
            <label for="post_content">
                Description                                 <span class="adverts-form-required">*</span>
                            </label>
            
            <div id="wp-post_content-wrap" class="wp-core-ui wp-editor-wrap tmce-active"><link rel='stylesheet' id='editor-buttons-css'  href='/wp-includes/css/editor.min.css?ver=5.4.9' type='text/css' media='all' />
<div id="wp-post_content-editor-container" class="wp-editor-container"><textarea class="wp-editor-area" rows="8" autocomplete="off" cols="40" name="post_content" id="post_content"></textarea></div>
</div>


                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-text adverts-field-name-adverts_price ">
            
                        
            <label for="adverts_price">
                Prix                            </label>
            
            <input type="text" name="adverts_price" id="adverts_price" class="adverts-filter-money"  />
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-text adverts-field-name-adverts_location ">
            
                        
            <label for="adverts_location">
                Localité                            </label>
            
            <input type="text" name="adverts_location" id="adverts_location"  />
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-header adverts-field-name-_adverts_recaptcha_header ">
            
                        <div class="adverts-field-header">
                <span class="adverts-field-header-title">Captcha</span>
                            </div>
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-recaptcha-field adverts-field-name-g-recaptcha-response ">
            
                        
            <label for="g-recaptcha-response">
                Captcha                            </label>
            
            <script src="https://www.google.com/recaptcha/api.js" async defer></script><div class="g-recaptcha" data-sitekey="6Lfe3T8cAAAAAKO8RstrS7xK9pzpw2wGFKllufac" data-theme="light" data-type="audio" data-size="normal" ></div>
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-text adverts-field-name-website_address ">
            
                        
            <label for="website_address">
                Website Address                            </label>
            
            <input type="text" name="website_address" id="website_address" autocomplete="off"  />
                        
                        
        </div>
                
        <div class="adverts-control-group adverts-field-actions">

            <input type="submit" name="submit" value="Prévisualiser" style="font-size:1.2em" class="adverts-button adverts-cancel-unload" />
        </div>
        
    </fieldset>
</form>