
				<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
					<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
						<div class="content_wrap">
							<h1 class="page_title">Consulter le catalogue</h1><div class="breadcrumbs"><a class="breadcrumbs_item home" href="/">Accueil</a><span class="breadcrumbs_delimiter"></span><a class="breadcrumbs_item cat_post" href="/category/espace-brocante/">Espace Brocante</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Consulter le catalogue</span></div>						</div>
					</div>
				</div>
				
			<div class="page_content_wrap page_paddings_yes">
                
<div class="content_wrap">
<div class="content">
<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-1571 post type-post status-publish format-standard hentry category-espace-brocante" itemscope itemtype="//schema.org/Article"><div class="post_info">
			<span class="post_info_item post_info_posted"> <a href="/espace-acheteur/" class="post_info_date date updated" itemprop="datePublished" content="2019-03-20 16:42:39">20 Mars 2019</a></span>
				<span class="post_info_item post_info_posted_by icon-user-light vcard" itemprop="author">par <a href="/author/admin-cmdt-guyane/" class="post_info_author">VQJAYyth</a></span>
			<span class="post_info_item post_info_counters">	<span class="post_counters_item post_counters_views icon-eye" title="Vues - 34938" href="/espace-acheteur/"><span class="post_counters_number">34938</span></span>
	</span>
		</div>
<section class="post_content" itemprop="articleBody">

<div class="adverts-options">
    <form action="" class="adverts-search-form" method="get">
        
                
                <div class="adverts-search">
                        <div class="advert-input advert-input-type-half advert-input-type-half-left">
                                <input type="text" name="query" id="query" value="<%=params[:query]%>" placeholder="Mot clé…"  />            </div>
                        <div class="advert-input advert-input-type-half advert-input-type-half-right">
                                <input type="text" name="location" id="location" value="<%=params[:location]%>" placeholder="Lieu…"  />            </div>
                    </div>
                
            
        <div class="adverts-options-left adverts-js">
                        
                    </div>

        <div class="adverts-options-right adverts-js">
                        <a href="#" class="adverts-form-submit adverts-button-small">RECHERCHER <span class="adverts-icon-search"><span></a>
        </div>

        <div class="adverts-options-fallback adverts-no-js">
            <input type="submit" value="Filtrer les résultats" />
        </div>
    </form>
</div>

<div class="adverts-list adverts-bg-hover">
               <%=render partial: "ads/adresultbis", collection: @ads, as: :ad%>
            </div>

<div class="adverts-pagination">
    </div>



				</section> <!-- </section> class="post_content" itemprop="articleBody"> -->	<section class="related_wrap related_wrap_empty"></section>
	
			</article> <!-- </article> class="itemscope post_item post_item_single post_featured_default post_format_standard post-1571 post type-post status-publish format-standard hentry category-espace-brocante" itemscope itemtype="//schema.org/Article"> -->
		</div> <!-- </div> class="content"> -->	