

				<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
					<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
						<div class="content_wrap">
							<h1 class="page_title">Guide de la rentrée</h1><div class="breadcrumbs"><a class="breadcrumbs_item home" href="/">Accueil</a><span class="breadcrumbs_delimiter"></span><a class="breadcrumbs_item cat_post" href="/category/actualites/">Actualités</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Guide de la rentrée</span></div>						</div>
					</div>
				</div>
				
			<div class="page_content_wrap page_paddings_yes">
                
<div class="content_wrap">
<div class="content">
<article class="itemscope post_item post_item_single post_featured_default post_format_standard post-403507 post type-post status-publish format-standard has-post-thumbnail hentry category-actualites category-information" itemscope="" itemtype="//schema.org/Article"><div class="post_info">
			<span class="post_info_item post_info_posted"> <a href="/guide-de-la-rentree/" class="post_info_date date updated" itemprop="datePublished" content="2021-09-09 15:46:45">9 Septembre 2021</a></span>
				<span class="post_info_item post_info_posted_by icon-user-light vcard" itemprop="author">par <a href="/author/editeur-cmdt/" class="post_info_author">editeur-cmdt</a></span>
			<span class="post_info_item post_info_counters">	<span class="post_counters_item post_counters_views icon-eye" title="Vues - 568" href="/guide-de-la-rentree/"><span class="post_counters_number">568</span></span>
	</span>
		</div>			<section class="post_featured">
							<div class="post_thumb" data-image="/wp-content/uploads/2021/09/gide-de-rentrée-2021-2022.jpg" data-title="Guide de la rentrée">
					<a class="hover_icon hover_icon_view inited" href="/wp-content/uploads/2021/09/gide-de-rentr%C3%A9e-2021-2022.jpg" title="Guide de la rentrée" rel="prettyPhoto[slideshow]"><img class="wp-post-image" width="1170" height="659" alt="Guide de la rentrée" src="/guidelarentreefiles/gide-de-rentrée-2021-2022-1170x659.jpg" itemprop="image"></a>
				</div>
							</section>
			
<section class="post_content" itemprop="articleBody"><div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<h1>Report de la rentrée 2021/2022</h1>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p>La rentrée des éléves, initialement prévue le 13 septembre, est reportée au :</p>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p><strong>LUNDI 20 SEPTEMBRE 2021</strong></p>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<h2>PRATIQUES COLLECTIVES</h2>
<p>Les emplois du temps sont mis a votre disposition sur la plateforme DUO NET.<br>
Les codes d’accés a cette plateforme vous parviendront, si cela n’est déja fait, sur vos messageries respectives.</p>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<h2>PRATIQUES INDIVIDUELLES</h2>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p>Les enseignants respectifs prendront contact avec chacun d’entre vous le 16 et le 17 septembre, afin de définir les heures de cours individuels.</p>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p><em>Les plannings définitifs seront accessibles via la plateforme DUO NET</em></p>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<h1>Finalisation des inscriptions et réinscriptions</h1>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p>Les démarches pour cette nouvelle année scolaire sont principalement dématérialisées :</p>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<ul>
<li>Via le site du CMDTG pour les nouveaux élèves <a href="/inscriptions-re-inscriptions-2020-2021/">lien ici</a>, ce, a partir du 13 septembre 2021.</li>
<li>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p>Via la plateforme DUO NET, pour les anciens élèves, également accessible depuis le site internet du CMDTG <a href="https://extranet.duonet.fr/Connect.aspx?key=3lxuvwjwqDM=">lien ici</a></p>
</div>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p>Nous vous rappelons que les inscriptions et réinscriptions définitives sont subordonnées au règlement minimum du 1er versement, d’après le tableau de tarification ci-dessous :</p>
<table width="903">
<tbody>
<tr>
<td width="153"><strong>TARIFICATION</strong></td>
<td width="165"></td>
<td width="154"></td>
<td colspan="2" width="330"><strong>DETAIL</strong></td>
</tr>
<tr>
<td width="153"></td>
<td width="165"><em>Tarif annuel</em></td>
<td width="154"><em>1er versement</em></td>
<td width="169"><em>Droits d’inscription</em></td>
<td width="161"><em>Frais de cours</em></td>
</tr>
<tr>
<td width="153">1 Personne</td>
<td width="165">266.00 €</td>
<td width="154">166.00 €</td>
<td width="169">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 40.00 €</td>
<td width="161">226.00 €</td>
</tr>
<tr>
<td width="153">2 Personnes</td>
<td width="165">460.00 €</td>
<td width="154">260.00 €</td>
<td width="169">(40€x2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 80.00 €</td>
<td width="161">380.00 €</td>
</tr>
<tr>
<td width="153">3 Personnes</td>
<td width="165">582.00 €</td>
<td width="154">382.00 €</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<h1>Le passe sanitaire</h1>
<div class="page" title="Page 1">
<div class="layoutArea">
<div class="column">
<p>Le CMDTG n’est pas concerné par le passe sanitaire sauf lorsque se tiennent des événements&nbsp;publics ouverts à des spectateurs extérieurs (ex: spectacles, auditions, démonstrations etc.).</p>
<p><strong>Il ne s’applique donc pas au public accueilli dans le cadre des cours.</strong></p>
<p>Toutefois les mesures barrières de distanciation et de port du masque restent en vigueur dans&nbsp;l’enceinte de l’établissement.</p>
<h1>Rappel des conditions d’accès au site</h1>
<p>Le CMDTG vous informe que les inscriptions ou réinscriptions ouvre le 13 septembre 2021.</p>
<p>Les Services de l’administration sont à votre disposition :</p>
<ul>
<li>Sur rendez-vous pris par téléphone au 0594 29 84 36 (standard)</li>
<li>Par mail:
<ul>
<li>enmd-scolarite@orange.fr pour les questions liées à la scolarité,</li>
</ul>
</li>
<li>Sur place auprès des agents d’accueil.</li>
</ul>
<p><em>Vous devrez venir munis d’un masque et vous conformer au respect de la signalétique en place.</em></p>
<h1>Rappel du protocole de rentrée : Mesures COVID-19 au 1er septembre&nbsp;2021</h1>
<h2>Accès à nos locaux</h2>
<ul>
<li>L’accès à nos locaux est réservé aux seuls élèves et à leurs accompagnants pour les plus&nbsp;jeunes. Le port du badge est obligatoire afin de justifier de la présence de l’élève dans&nbsp;l’enceinte du bâtiment.</li>
<li>Chaque élève ou participant mineur et majeur de plus de 11 ans est tenu de venir dans&nbsp;l’enceinte de l’établissement équipe de son masque.&nbsp;Ces mesures barrières sont adaptées durant les temps de pratique artistique.</li>
</ul>
<h2>Dispositif de prévention</h2>
<ul>
<li>Tous les enseignants sont munis du matériel nécessaire à leur protection individuelle ainsi&nbsp;qu’à la protection collective en salle de cours: gel hydro-alcoolique, désinfectant, rouleau&nbsp;de papier.</li>
<li>Une station de désinfection des mains à l’usage de tous, est positionnée à l’entrée des&nbsp;bâtiments 1, 2, 3, et 4.</li>
<li>Un affichage du rappel des gestes barrières et de la liste des symptômes COVID-19, ainsi&nbsp;qu’un balisage au sol aux principaux points de passage du lieu de cours sera opéré.</li>
<li>L’équipe de surveillants du CMDTG, assistée d’un agent de prévention s’assureront du&nbsp;bon respect des préconisations sanitaires en vigueur par les usagers.</li>
</ul>
<h2>Protocole de nettoyage et de désinfection</h2>
<ul>
<li>Les matériels manipulés plusieurs fois par jour feront l’objet d’un nettoyage/désinfection&nbsp;après chaque manipulation.</li>
<li>Le lavage approfondi et fréquent des mains à l’eau et au savon ou l’utilisation du gel&nbsp;hydro-alcoolique, notamment à l’entrée et à la sortie des salles de cours est fortement&nbsp;recommandé.</li>
<li>L’usage des mouchoirs et essuie-mains en papier sont à usage unique.</li>
</ul>
<h2>Déroulement des cours</h2>
<p>Les enseignants privilégieront le port du masque autant que possible durant les cours.</p>
<p>La distance minimale d’l mètre entre les personnes est à respecter et de 2 à 5 mètres, selon la&nbsp;discipline, lorsque le port du masque n’est pas possible.</p>
<p>Les portes seront maintenues ouvertes dès lors que cela n’est pas incompatible avec les règles&nbsp;de sécurité ou avec les contraintes acoustiques d’activité ayant lieu dans plusieurs salles en&nbsp;proximité.</p>
<p>Les salles de cours seront aérées durant 15 minutes toutes les 3 heures.</p>
<p>Chaque élève ou participant doit venir muni de son propre petit matériel : masque, gourde,&nbsp;instrument, tenue, serviette et autres accessoires.</p>
<h3>Pratiques chorégraphiques</h3>
<ul>
<li>&nbsp;Il est recommandé pour les exercices au sol de venir muni d’une serviette personnelle à renouveler à chaque cours</li>
<li>Lorsque le respect de la distance physique ne peut être garantie, lors des portées par exemple, le port du masque est recommandé autant que possible.</li>
<li>Les vestiaires ne sont pas accessibles aux les élèves, par conséquent, ceux-ci doivent arriver en cours, vêtus de leur tenue de danse.</li>
</ul>
<h3>Pratiques instrumentales</h3>
<ul>
<li>La distance à respecter entre l’enseignant et les musiciens est d’au moins 1,5 mètre.</li>
<li>En raison de l’abrasivité des produits nettoyants et des procédés de désinfection, le nettoyage de certains équipements et instruments de musique n’est pas possible.&nbsp;De ce fait, l’élève ou le participant devra apporter son propre équipement/instrument ou procéder à la désinfection/nettoyage de ses mains avant et après l’utilisation de l’instrument.</li>
<li>Les partitions devront être à usage personnel.</li>
<li>Les micros seront nettoyés/désinfectés après chaque utilisation.</li>
</ul>
<h3>Pratiques instrumentales collectives</h3>
<ul>
<li>Les règles de distanciation sont d’l mètre à 2 mètres suivant les instruments.</li>
<li>Pour les instruments à vent, la distance radiale recommandée doit être d’1,50 mètre. A défaut, le port du masque sera obligatoire pour les autres musiciens.</li>
</ul>
<h3>Pratiques vocales collectives</h3>
<p>Le chant choral est une pratique artistique à risque, une vigilance accrue doit être apportée pour&nbsp;particulièrement pour les personnes de plus de 65 ans et fragiles :</p>
<ul>
<li>Port du masque conseillé pour l’enseignant/chef de choeur et respect d’une distance plus grande de 3 à 5 mètres</li>
<li>Pour les ensembles vocaux, la distance radiale recommandée entre chaque chanteur est de 1,5 mètres, en ligne de référence ou en décalage si plusieurs rangs.</li>
<li>Dans le cas particulier du chef de choeur qui dirige un ensemble vocal en formation&nbsp;concert et sans mise en espace, la distance est de 3 à 5 mètres avec port du masque recommandé pour le chef de choeur et visière en complément au besoin.</li>
</ul>
<h3>Pratiques théâtrales</h3>
<ul>
<li>Chaque fois que cela est possible, privilégier une distance radiale de 2 à 5 mètres entre les élèves.</li>
<li>Le port du masque est indispensable pour l’enseignant lorsqu’il ne peut respecter cette distance de 2 mètres.</li>
<li>Si des accessoires doivent être passés d’un interprète à une autre, les élèves comédiens se lavent les mains à l’eau et au savon ou utilisent une solution hydroalcoolique avant et après la répétition de la scène.</li>
<li>Concernant le maquillage, les élèves comédiens, si nécessaire devront disposer de&nbsp;leur kit de maquillage personnel.</li>
</ul>
<div class="sc_infobox sc_infobox_style_info sc_infobox_iconed no">Des mesures organisationnelle pourront venir limiter le nombre de personnels opérant simultanément au sein de l’établissement ou définir des horaires décalés pour limiter les interactions et contacts physiques. Il en va de même pour les élèves ou pratiquants.</div>
<h1>Cas de COVI D-19</h1>
<p>Tout cas ou suspicion de cas de COVID-19, devra être signalé :</p>
<ul>
<li>À la scolarité,</li>
<li>À l’agent de prévention et/ou aux agents de surveillance.</li>
</ul>
<p>L’information sera transmise sans délai aux autorités sanitaires pour mise en place du protocole&nbsp;national adapté.</p>
</div>
</div>
</div>
</div>
</div>
</div>

				</section> <!-- </section> class="post_content" itemprop="articleBody"> -->	<section class="related_wrap related_wrap_empty"></section>
	
			</article> <!-- </article> class="itemscope post_item post_item_single post_featured_default post_format_standard post-403507 post type-post status-publish format-standard has-post-thumbnail hentry category-actualites category-information" itemscope itemtype="//schema.org/Article"> -->
		</div> <!-- </div> class="content"> -->	<div class="sidebar widget_area scheme_original" role="complementary">
		<div class="sidebar_inner widget_area_inner">
			<aside id="search-3" class="widget_number_1 widget widget_search"><form role="search" method="get" class="search_form" action="/"><input type="text" class="search_field" placeholder="Rechercher" value="" name="s" title="Rechercher"><button type="submit" class="search_button icon-search" href="#"></button></form></aside><aside id="custom_html-2" class="widget_text widget_number_2 widget widget_custom_html"><div class="textwidget custom-html-widget">
		<div id="wpb_wcma_menu_107" class="wpb_category_n_menu_accordion" data-accordion="false" data-indicator_icon="+" data-iconclass="">
			<ul id="menu-menu-principal" class="wpb_category_n_menu_accordion_list"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-1585"><a href="/">Accueil</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-1960 has_children"><a href="/le-cmdtg/"><span class="wpb-submenu-indicator">+</span>Présentation</a>
<ul class="sub-menu" data-index="0" style="display: none;">
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2908"><a href="/historique/">Historique</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1576"><a href="/edgar-nibul/">Edgar Nibul</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1961"><a href="/le-cmdtg/">Le CMDTG</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1986"><a href="/localisation/">Localisation</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1987"><a href="/le-conseil-dadministration/">Le Conseil d’Administration</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-1577 has_children"><a href="/organigramme/"><span class="wpb-submenu-indicator">+</span>Organigramme</a>
	<ul class="sub-menu" data-index="1" style="display: none;">
		<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1988"><a href="/personnel-administratif-et-technique/">Personnel administratif et technique</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1989"><a href="/personnel-enseignant/">Personnel enseignant</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1578"><a href="/postuler-au-cmdtg/">Postuler au CMDTG</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-1990 has_children"><a href="/le-logo/"><span class="wpb-submenu-indicator">+</span>Le logo</a>
	<ul class="sub-menu" data-index="2" style="display: none;">
		<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1991"><a href="/le-logo/">Présentation du logo</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1992"><a href="/versions-telechargeables/">Versions téléchargeables</a></li>
	</ul>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-1789 has_children"><a href="/vie-scolaire/"><span class="wpb-submenu-indicator">+</span>Vie scolaire</a>
<ul class="sub-menu" data-index="3" style="display: none;">
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3474"><a href="/inscriptions-re-inscriptions-2020-2021/">Inscriptions/Ré-inscriptions 2021-2022</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3103"><a href="/les-disciplines-2/">Les disciplines du CMDTG</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-3237 has_children"><a href="/les-departements-du-cmdtg/"><span class="wpb-submenu-indicator">+</span>Les départements du CMDTG</a>
	<ul class="sub-menu" data-index="4" style="display: none;">
		<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2342"><a href="/musique/">Département Musique</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2343"><a href="/danse/">Département Danse</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-3241 has_children"><a href="/les-cursus-du-cmdtg/"><span class="wpb-submenu-indicator">+</span>Les cursus du CMDTG</a>
	<ul class="sub-menu" data-index="5" style="display: none;">
		<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3131"><a href="/les-cursus/">Le cursus musique</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2911"><a href="/le-cursus-de-formation/">Le cursus danse</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1995"><a href="/reglement-interieur-des-eleves/">Règlement intérieur des élèves</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1632"><a href="/projet-detablissement/">Projet d’Etablissement</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3681"><a href="/le-reglement-des-etudes/">Règlement des études</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-has-children menu-item-1886 has_children"><a href="/category/actualites/"><span class="wpb-submenu-indicator">+</span>Actualités</a>
<ul class="sub-menu" data-index="6" style="display: none;">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2105"><a href="/category/actualites/">A la une</a></li>
	<li class="menu-item menu-item-type-post_type_archive menu-item-object-mec-events menu-item-2333"><a href="/evenements/">Évènements</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3712 has_children"><a href="/mediatheque/"><span class="wpb-submenu-indicator">+</span>Médiathèque</a>
<ul class="sub-menu" data-index="7" style="display: none;">
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3713"><a href="/videotheque/">Vidéothèque</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3908"><a href="/phototheque/">Photothèque</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1998 has_children"><a href="/guide-de-la-rentree/#"><span class="wpb-submenu-indicator">+</span>Location</a>
<ul class="sub-menu" data-index="8" style="display: none;">
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1584"><a href="/louer-un-instrument/">Louer un instrument</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1587"><a href="/louer-une-salle/">Louer une salle</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1792"><a target="_blank" rel="noopener noreferrer" href="https://extranet.duonet.fr/Connect.aspx?key=3lxuvwjwqDM=">DUO NET</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2334"><a href="/contactez-le-conservatoire/">Contact</a></li>
</ul>		</div>

		</div></aside><aside id="text-4" class="widget_number_3 widget widget_text"><h5 class="widget_title">Évènements</h5>			<div class="textwidget"></div>
		</aside><aside id="mec_mec_widget-2" class="widget_number_4 widget widget_mec_mec_widget"><div id="mec_skin_513" class="mec-wrap colorskin-custom mec-widget   mec-sm959">
    
    <div id="mec_search_form_513" class="mec-search-form mec-totalcal-box"><div class="mec-dropdown-wrap"><div class="mec-dropdown-search">
                    <i class="mec-sl-folder"></i><select name=" " id="mec_sf_category_513" class="postform">
	<option value="" selected="selected">Catégorie</option>
</select>
</div></div><div class="mec-text-input-search">
                    <i class="mec-sl-magnifier"></i>
                    <input type="search" value="" id="mec_sf_s_513">
                </div></div>    
    <div class="mec-calendar mec-box-calendar mec-event-calendar-classic mec-event-container-classic">
                <div class="mec-calendar-side mec-clear">
                        <div class="mec-skin-monthly-view-month-navigator-container">
                <div class="mec-month-navigator" id="mec_month_navigator_513_202112"><div class="mec-previous-month mec-load-month mec-previous-month" data-mec-year="2021" data-mec-month="11"><i class="mec-sl-angle-left"></i> novembre</div><div class="mec-calendar-header"><h2>décembre 2021</h2></div><div class="mec-next-month mec-load-month mec-next-month" data-mec-year="2022" data-mec-month="01">janvier <i class="mec-sl-angle-right"></i></div></div>
            <div class="mec-month-navigator" id="mec_month_navigator_513_202201" style="display: none;"><div class="mec-previous-month mec-load-month mec-previous-month" data-mec-year="2021" data-mec-month="12"><i class="mec-sl-angle-left"></i> décembre</div><div class="mec-calendar-header"><h2>janvier 2022</h2></div><div class="mec-next-month mec-load-month mec-next-month" data-mec-year="2022" data-mec-month="02">février <i class="mec-sl-angle-right"></i></div></div></div>
            
            <div class="mec-calendar-table" id="mec_skin_events_513">
                <div class="mec-month-container mec-month-container-selected" id="mec_monthly_view_month_513_202112" data-month-id="202112"><dl class="mec-calendar-table-head"><dt class="mec-calendar-day-head">LUN.</dt><dt class="mec-calendar-day-head">MAR.</dt><dt class="mec-calendar-day-head">MER.</dt><dt class="mec-calendar-day-head">JEU.</dt><dt class="mec-calendar-day-head">VEN.</dt><dt class="mec-calendar-day-head">SAM.</dt><dt class="mec-calendar-day-head">DIM.</dt></dl><dl class="mec-calendar-row">
    <dt class="mec-table-nullday">29</dt><dt class="mec-table-nullday">30</dt><dt class="mec-calendar-day" data-mec-cell="20211201" data-day="1" data-month="202112">1</dt><dt class="mec-calendar-day" data-mec-cell="20211202" data-day="2" data-month="202112">2</dt><dt class="mec-calendar-day mec-selected-day" data-mec-cell="20211203" data-day="3" data-month="202112">3</dt><dt class="mec-calendar-day" data-mec-cell="20211204" data-day="4" data-month="202112">4</dt><dt class="mec-calendar-day" data-mec-cell="20211205" data-day="5" data-month="202112">5</dt></dl><div class="mec-clear"><div class="mec-calendar-events-sec" data-mec-cell="20211201"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 1</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211202"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 2</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div id="mec-active-current" class="mec-calendar-events-sec" data-mec-cell="20211203"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 3</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211204"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 4</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211205"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 5</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div><dl class="mec-calendar-row"><dt class="mec-calendar-day" data-mec-cell="20211206" data-day="6" data-month="202112">6</dt><dt class="mec-calendar-day" data-mec-cell="20211207" data-day="7" data-month="202112">7</dt><dt class="mec-calendar-day" data-mec-cell="20211208" data-day="8" data-month="202112">8</dt><dt class="mec-calendar-day" data-mec-cell="20211209" data-day="9" data-month="202112">9</dt><dt class="mec-calendar-day" data-mec-cell="20211210" data-day="10" data-month="202112">10</dt><dt class="mec-calendar-day" data-mec-cell="20211211" data-day="11" data-month="202112">11</dt><dt class="mec-calendar-day" data-mec-cell="20211212" data-day="12" data-month="202112">12</dt></dl><div class="mec-clear"><div class="mec-calendar-events-sec" data-mec-cell="20211206"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 6</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211207"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 7</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211208"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 8</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211209"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 9</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211210"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 10</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211211"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 11</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211212"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 12</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div><dl class="mec-calendar-row"><dt class="mec-calendar-day" data-mec-cell="20211213" data-day="13" data-month="202112">13</dt><dt class="mec-calendar-day" data-mec-cell="20211214" data-day="14" data-month="202112">14</dt><dt class="mec-calendar-day" data-mec-cell="20211215" data-day="15" data-month="202112">15</dt><dt class="mec-calendar-day" data-mec-cell="20211216" data-day="16" data-month="202112">16</dt><dt class="mec-calendar-day" data-mec-cell="20211217" data-day="17" data-month="202112">17</dt><dt class="mec-calendar-day" data-mec-cell="20211218" data-day="18" data-month="202112">18</dt><dt class="mec-calendar-day" data-mec-cell="20211219" data-day="19" data-month="202112">19</dt></dl><div class="mec-clear"><div class="mec-calendar-events-sec" data-mec-cell="20211213"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 13</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211214"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 14</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211215"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 15</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211216"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 16</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211217"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 17</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211218"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 18</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211219"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 19</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div><dl class="mec-calendar-row"><dt class="mec-calendar-day" data-mec-cell="20211220" data-day="20" data-month="202112">20</dt><dt class="mec-calendar-day" data-mec-cell="20211221" data-day="21" data-month="202112">21</dt><dt class="mec-calendar-day" data-mec-cell="20211222" data-day="22" data-month="202112">22</dt><dt class="mec-calendar-day" data-mec-cell="20211223" data-day="23" data-month="202112">23</dt><dt class="mec-calendar-day" data-mec-cell="20211224" data-day="24" data-month="202112">24</dt><dt class="mec-calendar-day" data-mec-cell="20211225" data-day="25" data-month="202112">25</dt><dt class="mec-calendar-day" data-mec-cell="20211226" data-day="26" data-month="202112">26</dt></dl><div class="mec-clear"><div class="mec-calendar-events-sec" data-mec-cell="20211220"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 20</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211221"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 21</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211222"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 22</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211223"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 23</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211224"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 24</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211225"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 25</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211226"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 26</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div><dl class="mec-calendar-row"><dt class="mec-calendar-day" data-mec-cell="20211227" data-day="27" data-month="202112">27</dt><dt class="mec-calendar-day" data-mec-cell="20211228" data-day="28" data-month="202112">28</dt><dt class="mec-calendar-day" data-mec-cell="20211229" data-day="29" data-month="202112">29</dt><dt class="mec-calendar-day" data-mec-cell="20211230" data-day="30" data-month="202112">30</dt><dt class="mec-calendar-day" data-mec-cell="20211231" data-day="31" data-month="202112">31</dt><dt class="mec-table-nullday">1</dt><dt class="mec-table-nullday">2</dt></dl>
<div class="mec-clear">
    <div class="mec-calendar-events-sec" data-mec-cell="20211227"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 27</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211228"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 28</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211229"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 29</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211230"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 30</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20211231"><h6 class="mec-table-side-title">Événements pour décembre</h6><h3 class="mec-color mec-table-side-day"> 31</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div></div>
            <div class="mec-month-container" id="mec_monthly_view_month_513_202201" data-month-id="202201" style="display: none;"><dl class="mec-calendar-table-head"><dt class="mec-calendar-day-head">LUN.</dt><dt class="mec-calendar-day-head">MAR.</dt><dt class="mec-calendar-day-head">MER.</dt><dt class="mec-calendar-day-head">JEU.</dt><dt class="mec-calendar-day-head">VEN.</dt><dt class="mec-calendar-day-head">SAM.</dt><dt class="mec-calendar-day-head">DIM.</dt></dl><dl class="mec-calendar-row">
    <dt class="mec-table-nullday">27</dt><dt class="mec-table-nullday">28</dt><dt class="mec-table-nullday">29</dt><dt class="mec-table-nullday">30</dt><dt class="mec-table-nullday">31</dt><dt class="mec-calendar-day" data-mec-cell="20220101" data-day="1" data-month="202201">1</dt><dt class="mec-calendar-day" data-mec-cell="20220102" data-day="2" data-month="202201">2</dt></dl><div class="mec-clear"><div class="mec-calendar-events-sec" data-mec-cell="20220101"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 1</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220102"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 2</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div><dl class="mec-calendar-row"><dt class="mec-calendar-day mec-selected-day" data-mec-cell="20220103" data-day="3" data-month="202201">3</dt><dt class="mec-calendar-day" data-mec-cell="20220104" data-day="4" data-month="202201">4</dt><dt class="mec-calendar-day" data-mec-cell="20220105" data-day="5" data-month="202201">5</dt><dt class="mec-calendar-day" data-mec-cell="20220106" data-day="6" data-month="202201">6</dt><dt class="mec-calendar-day" data-mec-cell="20220107" data-day="7" data-month="202201">7</dt><dt class="mec-calendar-day" data-mec-cell="20220108" data-day="8" data-month="202201">8</dt><dt class="mec-calendar-day" data-mec-cell="20220109" data-day="9" data-month="202201">9</dt></dl><div class="mec-clear"><div id="mec-active-current" class="mec-calendar-events-sec" data-mec-cell="20220103"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 3</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220104"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 4</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220105"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 5</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220106"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 6</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220107"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 7</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220108"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 8</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220109"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 9</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div><dl class="mec-calendar-row"><dt class="mec-calendar-day" data-mec-cell="20220110" data-day="10" data-month="202201">10</dt><dt class="mec-calendar-day" data-mec-cell="20220111" data-day="11" data-month="202201">11</dt><dt class="mec-calendar-day" data-mec-cell="20220112" data-day="12" data-month="202201">12</dt><dt class="mec-calendar-day" data-mec-cell="20220113" data-day="13" data-month="202201">13</dt><dt class="mec-calendar-day" data-mec-cell="20220114" data-day="14" data-month="202201">14</dt><dt class="mec-calendar-day" data-mec-cell="20220115" data-day="15" data-month="202201">15</dt><dt class="mec-calendar-day" data-mec-cell="20220116" data-day="16" data-month="202201">16</dt></dl><div class="mec-clear"><div class="mec-calendar-events-sec" data-mec-cell="20220110"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 10</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220111"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 11</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220112"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 12</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220113"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 13</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220114"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 14</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220115"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 15</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220116"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 16</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div><dl class="mec-calendar-row"><dt class="mec-calendar-day" data-mec-cell="20220117" data-day="17" data-month="202201">17</dt><dt class="mec-calendar-day" data-mec-cell="20220118" data-day="18" data-month="202201">18</dt><dt class="mec-calendar-day" data-mec-cell="20220119" data-day="19" data-month="202201">19</dt><dt class="mec-calendar-day" data-mec-cell="20220120" data-day="20" data-month="202201">20</dt><dt class="mec-calendar-day" data-mec-cell="20220121" data-day="21" data-month="202201">21</dt><dt class="mec-calendar-day" data-mec-cell="20220122" data-day="22" data-month="202201">22</dt><dt class="mec-calendar-day" data-mec-cell="20220123" data-day="23" data-month="202201">23</dt></dl><div class="mec-clear"><div class="mec-calendar-events-sec" data-mec-cell="20220117"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 17</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220118"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 18</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220119"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 19</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220120"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 20</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220121"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 21</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220122"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 22</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220123"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 23</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div><dl class="mec-calendar-row"><dt class="mec-calendar-day" data-mec-cell="20220124" data-day="24" data-month="202201">24</dt><dt class="mec-calendar-day" data-mec-cell="20220125" data-day="25" data-month="202201">25</dt><dt class="mec-calendar-day" data-mec-cell="20220126" data-day="26" data-month="202201">26</dt><dt class="mec-calendar-day" data-mec-cell="20220127" data-day="27" data-month="202201">27</dt><dt class="mec-calendar-day" data-mec-cell="20220128" data-day="28" data-month="202201">28</dt><dt class="mec-calendar-day" data-mec-cell="20220129" data-day="29" data-month="202201">29</dt><dt class="mec-calendar-day" data-mec-cell="20220130" data-day="30" data-month="202201">30</dt></dl><div class="mec-clear"><div class="mec-calendar-events-sec" data-mec-cell="20220124"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 24</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220125"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 25</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220126"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 26</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220127"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 27</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220128"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 28</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220129"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 29</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div><div class="mec-calendar-events-sec" data-mec-cell="20220130"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 30</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div><dl class="mec-calendar-row"><dt class="mec-calendar-day" data-mec-cell="20220131" data-day="31" data-month="202201">31</dt><dt class="mec-table-nullday">1</dt><dt class="mec-table-nullday">2</dt><dt class="mec-table-nullday">3</dt><dt class="mec-table-nullday">4</dt><dt class="mec-table-nullday">5</dt><dt class="mec-table-nullday">6</dt></dl>
<div class="mec-clear">
    <div class="mec-calendar-events-sec" data-mec-cell="20220131"><h6 class="mec-table-side-title">Événements pour janvier</h6><h3 class="mec-color mec-table-side-day"> 31</h3><article class="mec-event-article"><div class="mec-event-detail">Aucun événement</div></article></div></div></div></div>
        </div>
            </div>
    
</div></aside>		</div>
	</div> <!-- /.sidebar -->
	
	</div> <!-- </div> class="content_wrap"> -->			
			</div>		<!-- </.page_content_wrap> -->
			
