<div class="mec-events-meta-group mec-events-meta-group-countdown">
                <div class="mec-countdown-details" id="mec_countdown_details">
    <div class="countdown-w ctd-simple">
        <ul class="clockdiv" id="countdown">
            <div class="days-w block-w">
                <li>
                    <i class="icon-w mec-li_calendar"></i>
                    <span class="mec-days"></span>
                    <p class="mec-timeRefDays label-w">jours</p>
                </li>
            </div>
            <div class="hours-w block-w">    
                <li>
                    <i class="icon-w mec-fa-clock-o"></i>
                    <span class="mec-hours"></span>
                    <p class="mec-timeRefHours label-w">heures</p>
                </li>
            </div>  
            <div class="minutes-w block-w">
                <li>
                    <i class="icon-w mec-li_clock"></i>
                    <span class="mec-minutes"></span>
                    <p class="mec-timeRefMinutes label-w">minutes</p>
                </li>
            </div>
            <div class="seconds-w block-w">
                <li>
                    <i class="icon-w mec-li_heart"></i>
                    <span class="mec-seconds"></span>
                    <p class="mec-timeRefSeconds label-w">secondes</p>
                </li>
            </div>
        </ul>
    </div>
</div>
            </div>
