	<script type="text/javascript">
		document.body.className = document.body.className.replace('no-js','js');
	</script>
		<div id="login">
		<h1><a href="#">Propulsé par WordPress</a></h1>
	<p class="message reset-pass">Votre mot de passe a été réinitialisé. <a href="/wp-login.php">Connexion</a></p>
		<p id="backtoblog"><a href="/">
		&larr; Retour vers Conservatoire de Musique, Danse et Théâtre de Guyane		</a></p>
			</div>
		<div class="clear"></div>
