                                                <div class="mec-calendar-events-sec" data-mec-cell="20220107">
                                                    
                                                    <h6 class="mec-table-side-title">Événements pour janvier</h6>
                                                    
                                                    <h3 class="mec-color mec-table-side-day"> 7</h3>        <script type="application/ld+json">
                                            {
                                                "@context": "http://schema.org",
                                                "@type": "Event",
                                                "eventStatus": "https://schema.org/EventScheduled",
                                                "startDate": "2022-01-07",
                                                "endDate": "2022-01-07",
                                                "location":
                                                {
                                                    "@type": "Place",
                                                                    "name": "Auditorium de l'ENCRE",
                                                    "image": "",
                                                    "address": "Cayenne"
                                                                },
                                                "offers":
                                                {
                                                    "url": "/evenements/big-band-cine-concert-et-ateliers-jazz/",
                                                    "price": "Gratuit",
                                                    "priceCurrency": "€"
                                                },
                                                "performer": "",
                                                "description": "",
                                                "image": "/wp-content/uploads/2021/12/Affiche-v1.jpg",
                                                "name": "BIG BAND Ciné concert et ateliers jazz",
                                                "url": "/evenements/big-band-cine-concert-et-ateliers-jazz/"
                                            }
                                                </script>
                                                <article data-style="" class="mec-past-event ended-relative mec-event-article "><div class="mec-event-image"><img src="/evenementfiles/Affiche-v1-212x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" data-mec-postid="403661" srcset="evenementfiles/Affiche-v1-212x300.jpg 212w, evenementfiles/Affiche-v1-724x1024.jpg 724w, evenementfiles/Affiche-v1-768x1086.jpg 768w, evenementfiles/Affiche-v1-1086x1536.jpg 1086w, evenementfiles/Affiche-v1.jpg 1414w" sizes="(max-width: 212px) 100vw, 212px" width="150" height="150"></div><div class="mec-event-time mec-color"><i class="mec-sl-clock-o"></i> 19 h 30 min</div><h4 class="mec-event-title"><a class="mec-color-hover" data-event-id="403661" href="/evenements/big-band-cine-concert-et-ateliers-jazz/">BIG BAND Ciné concert et ateliers jazz</a><span class="event-color" style="background: #fdd700"></span></h4><div class="mec-event-detail">Auditorium de l'ENCRE</div>
                                                </article>
                                                  
                                                </div>

