<div class="mec-month-container <%=cycle(' mec-month-container-selected','') -%>" id="mec_monthly_view_month_974_<%=mois.monthid%>" data-month-id="<%=mois.monthid%>">
<%=render 'contenumois', mois: mois%>
                                            
                                            
                                            
                                         
                                                
</div>                 
                                           