    <dl class="mec-calendar-row">
                                            
<%=render partial: 'jour', collection: week.joursem, as: :jour%>                                            
                                            
    
    </dl>
<div class="mec-clear">
    
<%=render partial: 'dayrendering', collection: week.joursem, as: :jour%>                                            
      
</div>
