<!DOCTYPE html>
<!-- saved from url=(0092)/wp-login.php?redirect_to=https%3A%2F%2Fcmdt-guyane.fr%2Fmon-compte%2F -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr-FR"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title>Se connecter ‹ Conservatoire de Musique, Danse et Théâtre de Guyane — WordPress</title>
	<link rel="dns-prefetch" href="https://s.w.org/">
<script src="/loginfiles/zxcvbn.min.js" type="text/javascript" async=""></script><script type="text/javascript" src="/loginfiles/jquery.js"></script>
<script type="text/javascript" src="/loginfiles/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/loginfiles/adminloginscript.min.js"></script>
<link rel="stylesheet" id="dashicons-css" href="/loginfiles/dashicons.min.css" type="text/css" media="all">
<link rel="stylesheet" id="buttons-css" href="/loginfiles/buttons.min.css" type="text/css" media="all">
<link rel="stylesheet" id="forms-css" href="/loginfiles/forms.min.css" type="text/css" media="all">
<link rel="stylesheet" id="l10n-css" href="/loginfiles/l10n.min.css" type="text/css" media="all">
<link rel="stylesheet" id="login-css" href="/loginfiles/login.min.css" type="text/css" media="all">
<link rel="stylesheet" id="user-registration-css-css" href="/loginfiles/user-registration.css" type="text/css" media="all">
<link rel="stylesheet" id="custom-login-css" href="/loginfiles/adminstyle.min.css" type="text/css" media="all">
<style id="custom-login-inline-css" type="text/css">

    .login {
	background-color: #000000;
    }#login h1 a, .login h1 a {
            background-image: url(/imageslogin/logo-cmdtg-accueil.png);
            width:320px !important;
            background-size: contain !important;
            background-repeat: no-repeat;

        }
</style>
                <style>
                                </style>    
                <link rel="shortcut icon" href="/wp-content/uploads/2020/03/logo-cmdtg.png">	<meta name="robots" content="noindex,noarchive">
	<meta name="referrer" content="strict-origin-when-cross-origin">
		<meta name="viewport" content="width=device-width">
		</head>
	<body class="login js login-action-login wp-core-ui  locale-fr-fr">
<%=yield%>
					<script type="text/javascript">
			function wp_attempt_focus() {setTimeout( function() {try {d = document.getElementById( "user_login" );d.focus(); d.select();} catch( er ) {}}, 200);}
wp_attempt_focus();
if ( typeof wpOnload === 'function' ) { wpOnload() }		</script>
				<p id="backtoblog"><a href="/">
		← Retour vers Conservatoire de Musique, Danse et Théâtre de Guyane		</a></p>
			</div>
	<script type="text/javascript">
/* <![CDATA[ */
var _zxcvbnSettings = {"src":"https:\/\/cmdt-guyane.fr\/wp-includes\/js\/zxcvbn.min.js"};
/* ]]> */
</script>
<script type="text/javascript" src="/loginfiles/zxcvbn-async.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var pwsL10n = {"unknown":"Force du mot de passe inconnue.","short":"Tr\u00e8s faible","bad":"Faible","good":"Moyenne","strong":"Forte","mismatch":"Non concordance"};
/* ]]> */
</script>
<script type="text/javascript" src="/loginfiles/password-strength-meter.min.js"></script>
<script type="text/javascript" src="/loginfiles/underscore.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpUtilSettings = {"ajax":{"url":"\/wp-admin\/admin-ajax.php"}};
/* ]]> */
</script>
<script type="text/javascript" src="/loginfiles/wp-util.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var userProfileL10n = {"warn":"Votre nouveau mot de passe n\u2019a pas \u00e9t\u00e9 enregistr\u00e9.","warnWeak":"Confirmer l\u2019utilisation du mot de passe faible","show":"Afficher","hide":"Masquer","cancel":"Annuler","ariaShow":"Afficher le mot de passe","ariaHide":"Cacher le mot de passe"};
/* ]]> */
</script>
<script type="text/javascript" src="/loginfiles/user-profile.min.js"></script>
	<div class="clear"></div>
	
	
	</body></html>